# Django
SECRET_KEY="django-insecure-"
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
SITE_URL=http://localhost:8000

SUPERADMIN_EMAIL=admin@dabelomontee.com
SUPERADMIN_PASSWORD=changeme123
SUPERADMIN_FIRST_NAME=Super
SUPERADMIN_LAST_NAME=Admin

# Database
POSTGRES_DB=dabelomontee
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/1

# Email
DEFAULT_FROM_EMAIL=Dabelo & Motee <hello@dabelomontee.com>
EMAIL_HOST=smtp.sendgrid.net
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=apikey
EMAIL_HOST_PASSWORD=

# Paystack
PAYSTACK_PUBLIC_KEY=pk_test_
PAYSTACK_SECRET_KEY=sk_test_

# Sentry (prod only)
SENTRY_DSN=

# Twitter
TWITTER_SITE=@dabelomontee
